@using InfnetMVC.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Entrar";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row justify-content-center">
    <div class="col-md-4">
        <section>
            <form id="account" method="post" class="needs-validation" novalidate>
                <h2 class="text-center mb-4">Use uma conta local para entrar.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com" required />
                    <label asp-for="Email" class="form-label">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="senha" required />
                    <label asp-for="Password" class="form-label">Senha</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" asp-for="RememberMe" />
                    <label class="form-check-label" asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Entrar</button>
                </div>
            </form>
            <h5>Ou <a href="/Account/Register">registre-se</a>.</h5>
        </section>
    </div>
</div>