@{
    ViewData["Title"] = "Início";
}

<article id="main-page">
    <section class="text-center header">
        <h1 class="display-4">Instituto Infnet</h1>
        <h4>Desenvolvimento Back-end</h4>
        <img src="~/lib/files/Infnet_Fundo_Branco.png" width="250px" height="250px" />
        <h4>Desenvolvimento Web com .NET e Bases de Dados</h4>
        <h4>Assessment – AT</h4>
        <br />
        <h5>Aluno: Felipe Alves Nunes.</h5>
        <h5>Professor(a): Ricardo Frohlich da Silva.</h5>
        <h5>Data: 26 de Março de 2024.</h5>
    </section>

    <section>
        <h2>Bem vindo</h2>
        <p>Seja bem vindo ao Assessment de Desenvolvimento Web com .NET e Bases de Dados.</p>
    </section>

    <section>
        <h2>Conteúdo</h2>
        <div id="images">
            <img src="~/lib/files/CSharp.png" width="430px" height="250px" /> <!-- Compatible names. File was finding it because of special character. -->
            <br />
            <img src="~/lib/files/developpement_ms_net_maroc.gif" width="430px" height="250px" />
        </div>
        <p>Apresentação da Disciplina:</p>
        <ul>
            <li>Realização da preparação do ambiente para desenvolvimento local com C# e .NET;</li>
            <li>Desenvolvimento de aplicações web full-stack ("server-based UI") em ASP.NET Core usando Razor Pages;</li>
            <li>Acesso a bases de dados usando EF Core (sem SQL);</li>
            <li>Uso da Arquitetura MVC;</li>
            <li>Desenvolvimento de uma aplicação web em ASP.NET Core acessando bases de dados via EF Core;</li>
            <li>Autorização de usuário via Identity.</li>
        </ul>
    </section>

    <section>
        <h2>Opinião</h2>
        <p>O professor Ricardo foi um ótimo instrutor e conduziu a classe com tato. Aqui vão algumas sugestões:</p>

        <ul>
            <li>Aproveitar bem o tempo de aula e não depender dos alunos que chegarem atrasados;</li>
            <li>O que gostaria que fosse abordado: mais teoria do .NET e como as tecnologias funcionam por dentro;</li>
            <li>O que mais e menos gosto das disciplinas de programação: gosto quando o professor da matéria mantém um bom equílibrio entre a teoria e prática. Não gosto quando a aula fica pouco interativa e sem contato direto com a tecnologia sendo ensinada.</li>
        </ul>
        <p>Obrigado!</p>
    </section>
</article>